[user]
	name = Josef Reidinger
	email = jreidinger@suse.cz
	signingkey = B7BBBD7F9AE60AE42D3B39275795B05DBC562F48

[core]
	pager = less -FRX

[color]
	diff = auto
	status = auto
	branch = auto

[alias]
	co = checkout
	st = status
	ci = commit
	cp = cherry-pick

[push]
	default = tracking
[commit]
	gpgsign = true
